<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.dlb.userlogin.domain.User" alias="users"/>
        <typeAlias type="com.dlb.userlogin.domain.UserUpInfoBean" alias="user_uploads"/>
        <typeAlias type="com.dlb.userlogin.domain.ProvinceBean" alias="provinceBeans"/>
        <typeAlias type="com.dlb.userlogin.domain.MovieBean" alias="movieBeans"/>
        <typeAlias type="com.dlb.userlogin.domain.MovieTypeBean" alias="movieTypes"/>
    </typeAliases>


</configuration>
