<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlb.userlogin.dao.UserMapper">


    <resultMap id="users" type="com.dlb.userlogin.domain.User">
        <result column="user_id" property="user_id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="address" property="address"/>
        <result column="privateKey" property="privateKey"/>
        <result column="publicKey" property="publicKey"/>
        <result column="create_time" property="create_time"/>
        <result column="isSet" property="isSet"/>
        <result column="pay_password" property="pay_password"/>
    </resultMap>

    <resultMap id="user_uploads" type="com.dlb.userlogin.domain.UserUpInfoBean">
        <result column="user_id" property="user_id"/>
        <result column="file_name" property="file_name"/>
        <result column="data_type" property="data_type"/>
        <result column="file_format" property="file_format"/>
        <result column="file_size" property="file_size"/>
        <result column="create_time" property="create_time"/>
    </resultMap>

    <!--电影记录信息-->
    <resultMap id="movieRecodes" type="com.dlb.userlogin.domain.record.Top10MovieRecord">
        <result column="user_id" property="user_id"/>
        <result column="name" property="name"/>
        <result column="cid" property="cid"/>
        <result column="num" property="num"/>
    </resultMap>

    <!--影视类型记录信息-->
    <resultMap id="movieTypeRecodes" type="com.dlb.userlogin.domain.record.MovieTypeRecord">
        <result column="user_id" property="user_id"/>
        <result column="name" property="name"/>
        <result column="num" property="num"/>
        <result column="data_type" property="data_type"/>
    </resultMap>

    <!--省份记录信息-->
    <resultMap id="provinceRecodes" type="com.dlb.userlogin.domain.record.ProvinceDataRecord">
        <result column="user_id" property="user_id"/>
        <result column="province" property="province"/>
        <result column="num" property="num"/>
    </resultMap>


    <!--每个省份的用户-->
    <resultMap id="provinceBeans" type="com.dlb.userlogin.domain.ProvinceBean">
        <result column="province" property="province"/>
        <result column="num" property="num"/>
    </resultMap>
    <!--电影的排名-->
    <resultMap id="movieBeans" type="com.dlb.userlogin.domain.MovieBean">
        <result column="name" property="name"/>
        <result column="cid" property="cid"/>
        <result column="num" property="num"/>
    </resultMap>

    <!--电影的类型统计-->
    <resultMap id="movieTypes" type="com.dlb.userlogin.domain.MovieTypeBean">
        <result column="name" property="name"/>
        <result column="num" property="num"/>
    </resultMap>

    <!--充值bean-->
    <resultMap id="rechargeModes" type="com.dlb.userlogin.domain.RechargeBean">
        <result column="amount" property="amount"/>
        <result column="sender" property="sender"/>
        <result column="recipient" property="recipient"/>
        <result column="privateKey" property="privateKey"/>
        <result column="user_id" property="user_id"/>
        <result column="create_time" property="create_time"/>
        <result column="type" property="type"/>
    </resultMap>

    <!-- 查询-->
    <select id="findUserById" resultType="com.dlb.userlogin.domain.User">
        select * from Users where user_id = #{user_id};
    </select>

    <!-- 查询-->
    <select id="findUsersById" resultMap="users">
        select * from Users where user_id = #{user_id};
    </select>

    <select id="findUserByName" resultType="users">
        select * from Users where username = #{username};
    </select>

    <!-- 增加用户/注册用户-->
    <insert id="addUser" parameterType="com.dlb.userlogin.domain.User">
        insert into Users (username,password,address,privateKey,publicKey) values
        (#{username},#{password},#{address},#{privateKey},#{publicKey})
    </insert>

    <!--通过账号和密码查询用户信息-->
    <select id="findUserAndPassord" resultMap="users">
        SELECT * from Users WHERE username=#{username} AND password=#{password};
    </select>

    <!--通过账号和密码查询用户信息-->
    <select id="queryUserAndPassword" parameterType="com.dlb.userlogin.domain.User"
            resultType="com.dlb.userlogin.domain.User">
        SELECT * from Users WHERE username=#{username} AND password=#{password};
    </select>


    <!--插入用户上传信息-->
    <insert id="addUserUpInfo" parameterType="com.dlb.userlogin.domain.User">
        INSERT INTO user_upload(user_id,file_name,data_type,file_format,file_size) VALUES
        (#{user_id},#{file_name},#{data_type},#{file_format},#{file_size})
    </insert>

    <!--获取上传记录-->
    <select id="findUserUpInfo" parameterType="com.dlb.userlogin.domain.PageInfo" resultMap="user_uploads">
        SELECT * from user_upload where user_id=#{user_id} order by create_time desc
        <if test="pageSize != 0">
            limit #{currentIndex}, #{pageSize}
        </if>
    </select>

    <select id="findUserUpInfoCount" resultType="java.lang.Integer">
        select count(*) from user_upload where user_id=#{user_id}
    </select>


    <!--查询前10 影片-->
    <select id="findTop10Movie" resultMap="movieBeans">
        SELECT * from TopNMovie
    </select>

    <!--查询 一个月 前10 影片-->
    <select id="findOneTop10Movie" resultMap="movieBeans">
        SELECT * from TopNMovie_one
    </select>

    <!--查询半年 前10 影片-->
    <select id="findHalfTop10Movie" resultMap="movieBeans">
        SELECT * from TopNMovie_half
    </select>
    <!--                                                    -->
    <!--查询每个省多少用户-->
    <select id="findProvinceData" resultMap="provinceBeans">
        SELECT province,num from TopNProvince order by num DESC
    </select>

    <!--查询一个月 每个省多少用户-->
    <select id="findOneProvinceData" resultMap="provinceBeans">
        SELECT province,num from TopNProvince_one order by num DESC
    </select>

    <!--查询半年 每个省多少用户-->
    <select id="findHalfProvinceData" resultMap="provinceBeans">
        SELECT province,num from TopNProvince_half order by num DESC
    </select>

    <!--                                                            -->
    <select id="findMovieType" resultMap="movieTypes">
        SELECT num,name from MovieTypeCount as mt LEFT JOIN movie_info as mi on mt.cid=mi.cid ORDER BY num DESC
    </select>

    <select id="findOneMovieType" resultMap="movieTypes">
        SELECT num,name from MovieTypeCount_one as mt LEFT JOIN movie_info as mi on mt.cid=mi.cid ORDER BY num DESC
    </select>

    <select id="findHalfMovieType" resultMap="movieTypes">
        SELECT num,name from MovieTypeCount_half as mt LEFT JOIN movie_info as mi on mt.cid=mi.cid ORDER BY num DESC
    </select>

    <insert id="saveAnalyzeMovieRecode" parameterType="movieRecodes">
        insert into movie_TopNRecord(user_id,name,cid,num) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.user_id},
            #{item.name},
            #{item.cid},
            #{item.num}
            )
        </foreach>
    </insert>

    <insert id="saveAnalyzeMovieTypeRecode" parameterType="movieTypeRecodes">
        insert into movie_TypeRecord(
        user_id,
        name,
        num,
        data_type
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.user_id},
            #{item.name},
            #{item.num},
            #{item.data_type}
            )
        </foreach>
    </insert>

    <insert id="saveAnalyzeProvinceRecode" parameterType="provinceRecodes">
        insert into province_record(
        user_id,
        province,
        num
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.user_id},
            #{item.province},
            #{item.num}
            )
        </foreach>
    </insert>

    <!--保存转账记录-->

    <insert id="saveRechargeRecord" parameterType="rechargeModes">
        insert into recharge_record(user_id,amount,sender,recipient,privateKey,type)
        values(#{user_id},#{amount},#{sender},#{recipient},#{privateKey},#{type})
    </insert>


    <select id="queryTransferRecord" resultMap="rechargeModes">
        select * from recharge_record where user_id=#{user_id} order by create_time desc
        <if test="pageSize != 0">
            limit #{currentIndex}, #{pageSize}
        </if>
    </select>

    <select id="queryTopUpRecord" resultType="java.lang.Integer">
        select count(*) from recharge_record where user_id=#{user_id}
    </select>

    <insert id="setPayPW" parameterType="com.dlb.userlogin.domain.ChangePWBean">
        update Users set pay_password=#{pay_password},isSet=1 where user_id=#{user_id}
    </insert>

    <insert id="modifyPayPW" parameterType="com.dlb.userlogin.domain.ChangePWBean">
        update Users set pay_password=#{pay_password} where user_id=#{user_id}
    </insert>


</mapper>

